/* styles/globals.css or in _app.js if using styled-jsx */
html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  font-family: Noto Sans Thin;
}

* {
  box-sizing: border-box;
}

/* [data-theme="dark"] {
  --bg-color: #1e1e1e;
  --text-color: #ffffff;
  --card-bg: #2c2c2c;
}

[data-theme="light"] {
  --bg-color: #f2f5f7;
  --text-color: #000000;
  --card-bg: #f9f9f9;
} */
:root {
  color-scheme: light dark;

  --bg-color: #f2f5f7;
  --text-color: #000000;
  --card-bg: #f9f9f9;
  --input-bg: #ffffff;
  --input-text: #333333;

  --button-text: #ffffff;
  --highlight: #dd2f19;

  --bg-dark-color: #1e1e1e;
  --text-dark-color: #ffffff;
  --card-dark-bg: #2c2c2c;
  --button-text-dark: #ffffff;
}
